name: Build Wheels

on:
  push:
    branches: [ main ]
    #tags: [ 'v*' ]
  workflow_dispatch:

jobs:
  build_pure_python_wheel:
    name: Build Universal Wheel
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install build tools
        run: pip install build

      - name: Build wheel
        run: python -m build

      - name: Upload wheel
        uses: actions/upload-artifact@v4
        with:
          name: python-package-wheel
          path: dist/*.whl

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*.whl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
